.passwordContent {
  background-color: antiquewhite;
}
.passwordInput {
  width: 410px;
}
.passwordForm {
  width: 420px;
}
.passwordtitle {
  text-align: center;
  margin: 60px;
}
.passwordBack {
  width: 500px;
  height: 600px;
  margin: 0 auto;
}
.conPassword {
  width: 280px;
}
.passwordBtn {
  margin-top: 20px;
}
