.userQuery-selectText1{
  float: left;
  line-height: 40px;
  margin: 10px 10px;
}
.userQuery-select{
  float: left;
  margin: 10px 5px;
}
.el-input.userQuery-searchBox1{
  float: left;
  width: 240px;
  height: 30px;
  margin: 10px 5px;
}
.userQuery-select1{
  float: left;
  margin: 10px 5px;
  width:150px;
}
.userQueryTimeSelect{
  margin: 10px 5px;
}
.userQuery-select2{
  float: left;
  margin: 10px 5px;
}
.userQuery-selectText2{
  float: left;
  line-height: 15px;
  margin: 10px 10px;
}
.el-input.userQuery-searchBox2{
  float: left;
  width: 300px;
  height: 30px;
  margin: 10px 5px;
}
.userQuery-selectText3{
  float: left;
  line-height: 15px;
  margin: 10px 10px;
}
 .userQuery-select2{
   float: left;
   margin: 10px 5px;
 }
.userQueryTimeSelect1{
  margin: 10px 5px;
}


